.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.container {
  text-align: center;
  background-color: cornflowerblue;
}
p {
  background-color: coral;
  width: 300px;
  
}
button {
  background-color: rgb(97, 204, 97);
}
